<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory >
        <!--配置  访问数据库的  驱动  url   账号  密码-->
        <property name="connection.url">jdbc:mysql://localhost:3306/mybatis</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
       <property name="connection.username">root</property>
       <property name="connection.password">12315.qq</property>
        <!--SQL dialect-->
        <!--使用 mysql 的方言   告诉 hibernate 数据库的类型-->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--是否在控制台显示执行的sql语句-->
        <property name="show_sql">true</property>
        <!--规范化sql语句-->
        <property name="format_sql">true</property>
        <!--事务管理方式，每一个线程 控制一个事务-->
        <property name="current_session_context_class">thread</property>
        <!--是否自动更新数据库的表结构，不需要创建表，hibernate会自动去创建表结构

        -->
        <property name="hbm2ddl.auto">update</property>
        <!--映射文件-->
        <!--<mapping resource="com/yyh/po/Student.hbm.xml"/>-->
        <mapping class="com.yyh.po.Student"/>
    </session-factory>
</hibernate-configuration>